:root{
  --blue: #0082F4;
  --gray: #8F8F8F;
}
/* Header Section  */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  border-bottom: 1px solid #eee;
}
.header-item{
  display: flex;
  align-items: center;
  list-style: none;
}
.header-item li+li{
  margin-left: 1rem;
}
.header-btn{
  background-color: var(--blue);
  padding: .5rem 1rem;
  border-radius: .25rem;
  border: none;
  color: white;
  font-size: 1rem;
}
.header-btn:hover{
  background-color: rgb(3, 114, 211);
}
/* Hero Section */
.hero{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.hero-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 1rem;
  width: 40%;
}
.hero-blue-text{
  color: var(--blue);
  font-size: 1.25rem;
}
.hero-title-text > .hero-blue-text{
  font-size: 2rem;
}
.hero-title-text{
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.hero-description-text{
  color: rgba(0,0,0, .6);
  margin-bottom: 1rem;
}

.hero-btn{
  background-color: var(--blue);
  padding: .5rem 1rem;
  border-radius: .25rem;
  border: none;
  color: white;
  font-size: 1rem;
}
.hero-btn:hover{
  background-color: rgb(3, 114, 211);
}
.hero-btn-outline{
  background-color: white;
  padding: .5rem 1rem;
  border-radius: .25rem;
  border: 1px solid var(--gray);
  box-sizing: border-box;
  color: black;
  font-size: 1rem;
  margin-left: 1rem;
}
.hero-btn-outline:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
}

/* Community section */

 .community{
    display: flex;
    align-items:center;
    justify-content: center;
    margin-top: 2rem;
 } 
 .community-item{
   display:flex;
   flex-direction: column;
    justify-content: center;   
    width: 45%;
    margin-left: 2rem;
 }

.community-p{
    color: var(--blue);
    font-size:1.25rem;
}

.community-text{
  font-size:2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.community-paragrf{
  color:var(--gray);
  font-size:1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.community-btn{
  background-color: var(--blue);
  padding: .5rem 1rem;
  border-radius: .25rem;
  border: none;
  color: white;
  font-size: 1rem;
  transition: 0.3s ease-in;
}

.community-btn:hover{
  background-color: rgb(3, 114, 211);
}

/* Card Section */
.card{
  padding: .5rem;
  border-radius: .25rem;
  margin: 2rem;
  border:none;
}
.card-img{
  background-color: var(--blue);
  padding: 0;
  width: 15%;
}
.card-img>img{
  position: absolute;
  top: 40%;
  left: 5%;
  height: 40px;
}
.card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-controls{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-controls>img{
  background-color: #0187FD;
}
.card-item{
  display:flex;
  align-items: center;
  margin: 1rem .5rem;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  border-radius: .5rem;
  max-width: 30vw;
  box-sizing: border-box;
}
.card-title{
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: .5rem;
}
.card-text{
  margin-left: 1rem;
  padding: 1rem ;
}
.card-description{
  color: var(--gray);
  font-size: 1rem;
}
.card-autor{
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.card-profession{
  color: var(--gray);
  font-size: 1rem;
  text-align: center;
}

/* Features section */

.features{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.features-item{
  display:flex;
  justify-content: center;
  align-items: center;
  margin:2rem;
}

.features-text{
  text-align:center;
}

.features-paragrf{
  margin:1.2rem;
  color:var(--gray);
  font-size:1.2rem;
}

.features-imgs{
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 8rem ; 
}


/* Sigin section */

.Sigin{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  display:flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 361px;
  background: rgba(232, 236, 255, 0.3);
}

.Sigin-title{
  position: relative;
  left: 50px;
  width: 380px;
  text-align: right;
  display: flex;
  flex-direction: row;
  font-size:1.5rem;
  color: #058AFF;
}

.Sigin-paragrf{
  text-align: center;
  line-height:30px;
}

.Sigin-input{
  height: 82px;
  border: 1px solid rgba(115, 137, 247, 0.3);
  padding: 0px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  border-radius: nullpx;
}
.input-title{
  border-radius: 10px;
  background-color: #fff;
}

.Sigin-Btn{
  background-color: var(--blue);
  padding: 10px 25px;
  margin-top:20px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 1rem;
  transition: 0.3s ease-in;
}

.Sigin-inputs{
  border-color: #ced4da;
  border: none !important; 
  outline: none !important;
  box-shadow: none !important;
  border-radius: nullpx;
}
.Sigin-inputs:focus {
  border-color: #ced4da; 
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.input-title{

}
.mt-28{
  margin-top:28px;
}